.DS_Store
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/first_deadline/cmake-build-debug/
/first_deadline/build/
/first_deadline/.idea/
/second_deadline/cmake-build-debug/
/second_deadline/build/
/second_deadline/.idea/
.idea
.vscode
.DS_Store
.vscode
cmake-build*
build
*second_deadline/cmake-build-debug/
second_deadline/cmake-build-debug
.DS_Store
